@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap');

html {
    background: black;
    color: white;
    font-family: JetBrains Mono;
}
div {
    transition: .25s;
    opacity: .5;
    padding: 15px;
    border: solid white 3px;
    border-radius: 15px;
    margin-bottom: 10px;
}
div:hover {
    transition: .25s;
    opacity: 1;
}
a {
    color: cyan;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
