@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
html {
	text-align: center;
	font-family: Ubuntu;
	user-select: none;
	background-color: black;
}
h2, h4 {
	color: white;
}
h3 {
	color: #025fe2;
	padding: 10px;
	border-radius: 5px;
	border-color: #025fe2;
	border-width: 3px;
	border-style: solid;
	font-weight: 500;
	transition: .25s;
}
h3:hover {
	background-color: #025fe2;
	transition: .25s;
	color: white;
}
a {
	text-decoration: none;
	color: black;
}
span, img {
	vertical-align: middle;
}
